* {
  padding: 0;
  margin: 0;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 16px;
  -webkit-tap-highlight-color: transparent;
}

body {
  color: var(--text-color);
  background: var(--bg-color);
  width: 100%;
  line-height: 1.3334;
  display: flex;
  flex-direction: column;
  font-family: Roboto, sans-serif;
  font-size: 16px;
}

#root {
  height: 100%;
  --bg-color: #fff;
  --bg-color-header: #fff;
  --text-color: #242529;
  --overlay-color: rgba(0, 0, 0, 0.5);
  --title-color: #242529;
  --marked-color: #f6f7f8;
  --vh: 3.83px;
  --swiper-theme-color: #007aff;
  --swiper-navigation-size: 44px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
